.contact{
    padding-top : 50px;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 130px;
    width: 1255px;
    margin-bottom: 10px;
}

.card0{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0px;
}