.WorkEx {
    background-color: #1e1e2c;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-top: 50px;
    margin-left: 130px;
    width: 1257px;
    margin-bottom: 10px;
}

.WorkEx h2{
    text-align: center;
    margin-top: 3px;
    margin-bottom: 1px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.WorkEx hr{
    color: white;
    width: 900px;
    margin: 10px auto;
}

.WorkEx .vertical-timeline-element-title{
    color: #223ca4;
    font-weight: bold;
}

.WorkEx .vertical-timeline-element-subtitle{
    color: #1e1e2c;
}